$myPrimary1: #EA512E;
$myPrimary1-1: #e34e2d;
$myPrimary2: #F5890D;
$myPrimary3: #FCD74A;
$myPrimary4: #808080;
$myPrimary4-1: #3c3c3c;
$myPrimary5: #E1E1E1;
$myPrimary5-1: #a4a4a4;
$myPrimary5-2: #FAF7FF;
$myPrimary6: #f2f2f2;
$myPrimary6-1: #f7f7f7;
$myPrimary6-2: #fbfbfb;

//hero
$myHeroBack: #F1E7FF;

//banner
$myInhaltBack: #D1D1D1;

//contact image back

$myImageBack1: #6EADFC;
$myImageBack2: #BE185D;
$myImageBack3: #10B981;


