/* fonts:  Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Ää Öö Üü ß*/
@font-face {
  font-family: FredokaOne;
  src: url('../../assets/font/FredokaOne-Regular.ttf');
}

@font-face {
  font-family: NunitoRegular;
  src: url('../../assets/font/Nunito-VariableFont_wght.ttf');
}

@font-face {
  font-family: Nitalic;
  src: url('../../assets/font/Nunito-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: Nregular;
  src: url('../../assets/font/Nunito-static/Nunito-Regular.ttf');
}
@font-face {
  font-family: Nmedium;
  src: url('../../assets/font/Nunito-static/Nunito-Medium.ttf');
}

@font-face {
  font-family: Nlight;
  src: url('../../assets/font/Nunito-static/Nunito-Light.ttf');
}

@font-face {
  font-family: NextraLight;
  src: url('../../assets/font/Nunito-static/Nunito-ExtraLight.ttf');
}

@font-face {
  font-family: NsemiBold;
  src: url('../../assets/font/Nunito-static/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: Nbold;
  src: url('../../assets/font/Nunito-static/Nunito-Bold.ttf');
}

@font-face {
  font-family: NBlack;
  src: url('../../assets/font/Nunito-static/Nunito-Black.ttf');
}

@font-face {
  font-family: NextraBold;
  src: url('../../assets/font/Nunito-static/Nunito-ExtraBold.ttf');
}

