@import '../../../config-sass/index.scss';

.main-container{

  .container-header{
    margin-top: 2%;

    h1{
      margin-left: 5%;
      color: $mytext;
      font-size: 18px;
      font-family: Nregular;
      text-transform: capitalize;
      text-decoration: underline;
    }
 }

 .bst-container{
  margin: 1% auto;
  padding: 1%;
  color: $mytext;
  font-family: NsemiBold;
  border-bottom: 1px solid $myPrimary5;
  // background: $myPrimary6;

  .data{
    display: block;
    margin: 1% 0;
    font-family: NsemiBold;


    span{
      display: block;
      font-size: 15px;
    }
  }

  .bst-block{
    padding: 1% 0;
    border-radius: 8px;
    background: $myPrimary6;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07);

    .links{
      display: flex;
      justify-content: end;

      a{
        margin-right: 3%;
        color: $mytext;
      }
    }

    .img-icon{
      display: flex;
      margin-top: 9px;

      .img{
        display: flex;
        margin: auto 0;

        img{
          width: 50px;
          height: auto;
          margin: auto;
          border-radius: 4px;
          border: 0.5px solid $myPrimary5;
          @include sm {width: 70px;}
        }
      }

      .nummer{
        margin: auto;
        font-family: Nbold;
      }

      .status{
        display: flex;
        margin: auto 0;
        justify-content: space-between;


        span{
          font-family: NsemiBold;
          font-size: 10px;
          @include sm {font-size: 12px;}
        }

        .icon{
          display: flex;
          height: 30px;
          width: 30px;
          margin: auto auto 4%;
          border-radius: 50%;
          background: $myPrimary6-2;
          box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.07);

          @include  xl {
            height: 50px;
            width: 50px
          }

          fa-icon{
            margin: auto;
            font-size: 20px;
          }
        }

        .stonierte{
          margin: auto;
          font-family: NBlack;
          text-transform: capitalize;

          span{
            color: $myPrimary1;
            font-size: 20px;
            @include lg {font-size: 30px;}
          }
        }

        .bestellt{
          .icon{
            color: $myPrimary2;
          }
        }

        .unterwegs{
          .icon{
            color: $myPrimary1;
          }
        }

        .zugestellt{
          .icon{
            color: $myImageBack3;
          }
        }
      }
    }
  }
 }
}
