@import '../../config-sass/index.scss';

.product-container{
  margin: auto;

  .product-block{
    display: flex;
    padding: 3% 0;
    box-sizing: border-box;
    border-bottom: 1px solid $myPrimary4;
    // background: red;

    .images-block{
      display: flex;

      .images-line{
        display: inline-block;
        height: auto;
        margin: auto 2%;

        .line{

          img {
            height: auto;
            width: 95%;
            margin: auto 5%;
            padding: 3%;
            box-sizing: border-box;
            border-radius: 2px;
            border: 1px solid $myPrimary5-1;
            background: $myHeroBack;
            cursor: pointer;
          }
        }
      }

      .main-image{
        display: flex;
        height: 100%;
        margin: auto;
        padding: 4%;
        box-sizing: border-box;
        border-radius: 2px;
        background: $myHeroBack;

        img{
          height: auto;
          width: 100%;
          margin: auto;
          box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.07);
        }
      }
    }

    .title-block{
      padding-left: 3%;


      .title{
        font-family: NBold;
        font-size: 12px;
        color: $myPrimary4-1;

        h1 {
          margin:2% 0;
        }
      }

      .rating{
        display: block;
        padding-bottom: 2%;
        border-bottom: 1px solid $myPrimary4;
        font-family: NsemiBold;
        font-size: 15px;
        color: $myPrimary4-1;

        ul{
          display: flex;
          margin: 10px 0;
          padding: 0;
          list-style: none;

          li{
            margin: auto 5px auto 0;

            fa-icon{
              font-size: 20px;
              color: $myPrimary2;
            }
          }
        }
      }

      .price{
        font-family: NBold;
        font-size: 20px;

        p{
          margin-left: 10px;
          margin-top: 10px;
        }
      }

      .btns{
        margin-top: 3%;
        @include btn-hero($myPrimary2);
      }

      .text{
        display: block;
        margin: 5% 0;
        font-family: NsemiBold;
        font-size: 15px;
        color: $myPrimary4-1;

        p {
          margin: 10px 0;

          span{
            font-family: NBold;
          }
        }
      }
    }
  }
}
