<div class="col-10-xs product-container">
  <div class="col-12-xs product-block">
    <div class="col-4-xs images-block">
      <div class="col-2-xs images-line">
        <div class="col-12-xs line" *ngFor=" let proImage of productsImage">
          <img (click)="imagePreview(proImage)" [src]="proImage.url" alt="Magazin" [id]="proImage.id">
        </div>
      </div>
      <div class="col-10-xs main-image">
        <img [src]="mainImage" alt="Magazin">
      </div>
    </div>
    <div class="col-8-xs title-block">
      <div class="col-12-xs title">
        <h1>
          Erwecken Sie die Fantasie Ihres Kindes mit
          einem <br> personalisierten Kinder-Magazin, das
          eine umfangreiche<br> Tier-Enzyklopädie, kurzweilige
           Geschichten und kreative <br> Gestaltungsmöglichkeiten bietet
        </h1>
      </div>
      <div class="col-12-xs rating">
        <span>Kritiken und Bewertungen</span>
          <ul>
            <li *ngFor="let star of [].constructor(totalStars); let i=index;">
              <fa-icon *ngIf="(i+1)<=this.valueRate" [icon]="fullStar"></fa-icon>
              <fa-icon *ngIf="(i+1)>this.valueRate" [icon]="noFullStar"></fa-icon>
            </li>
            <li>168 Sternebewertungen</li>
          </ul>
      </div>
      <div class="col-12-xs price">
        <p>{{priceValue | currency: 'EUR': "symbol"}}</p>
      </div>
      <div class="col-12-xs btns">
        <a href="">Jetzt personalisieren</a>
        <a href="">In den Warenkorb legen</a>
      </div>
      <div class="col-12-xs text">
        <p><span>Kostenloser Versand</span> - Bestellen Sie jetzt und profitieren <br> Sie von unserem kostenlosen Versand!</p>
        <p><span>Seiten:</span>  224 Pages Bindung:  Gebundene Ausgabe</p>
      </div>
    </div>
  </div>
  <div class="col-12-xs description-block">
    <div class="col-11-xs text-image"></div>
  </div>
</div>
