@import '../../config-sass/index.scss';

@mixin rechner ($margin: 2%){
  display: flex;
  justify-content: space-between;
  margin: $margin auto;
}

.main-container{
  margin: auto;
  text-transform: capitalize;

  h1{
    margin: 1%;
    font-family: Nbold;
    font-size: 20px;
  }

  .main-block{
    display: block;
    @include lg {display: flex;}

    .waren-block{
      padding: 3%;
      border-radius: 8px;
      border: 1px solid $myPrimary5;
      background: $myHeroBack;


      .bst-block{
        display: flex;
        padding: 2% 0;
        font-family: Nbold;
        border-bottom: 1px solid $myPrimary5-1;

        .image{
          margin: auto;

          img{
            height: auto;
            width: 100%;
          }
        }

        .text-block{
          margin: auto 0;
          padding: 0 2%;

          h2{
            height: 16px;
            margin: 0px;
            font-size: 12px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include sm {height: 30px;}
            @include md {height: 50px; font-size: 17px;}
          }

          .price {
           margin: 2%;
           font-size: 12px;
           @include sm {font-size: 15px;}
           @include md {font-size: 20px;}
          }

        }

        .menge-links{
          display: flex;
          margin: 2%;

          .menge {

            span{
             padding: 2px 6px;
             font-size: 11px;
             color: $myPrimary6;
             border-radius: 4px;
             background: $myPrimary1;
             @include sm {padding: 4px 6px;}
             @include md {font-size: 14px;}
            }

            input{
             height: 15px;
             width: 40px;
             margin-left: 2px;
             text-align: center;
             border-radius: 4px;
             border: 1px solid $myPrimary4;
             @include sm {height: 20px;}
             @include md {height: 24px;}
            }

            button{
             height: 27px;
             padding: 2px;
             margin-left: 3px;
             border-radius: 4px;
             border: none;
             color: $myPrimary1;
             text-decoration: underline;
             background: none;
             cursor: pointer;
            }
           }

          .links{
            margin-left: 2%;
            margin-top: 1%;

            a{
              float: right;
              color: $mytext;
              font-family: Nregular;
              font-size: 12px;
              @include sm {font-size: 13px;}
              @include md {font-size: 15px;}
            }
          }
        }
      }
    }

    .buy-box{
      height: 100%;
      margin: 2% auto;
      padding: 2%;
      color: $mytext;
      font-family: Nmedium;
      font-size: 13px;
      border: 1px solid $myPrimary5;
      border-radius: 8px;
      background: $myHeroBack;
      @include lg {margin: 0 auto;}

      .delivery-text{

        fa-icon{
          font-size: 15px;
          color: $myImageBack3;
        }

        span{
          margin-left: 3%;
        }
      }

      .rechner{
        margin-top: 5%;
        @include lg {margin-top: 10%;}

        .number{
          font-family: NextraBold;
          font-size: 15px;
        }

        .zwischensumme{
          @include rechner();
        }

        .versandkosten{
          @include rechner();
        }

        .gesamtsumme{
          @include rechner(0%);
          padding-top: 2%;
          border-top: 1px solid $myPrimary5-1;

          .text{
            font-family: NextraBold;
            font-size: 15px;
          }
        }
      }

      .btn{
        margin-top: 5%;
        padding: 1.5%;
        text-align: center;
        border-radius: 8px;
        background: $myPrimary2;
        @include lg {padding: 3%;}

        a{
          color: $myPrimary6;
          font-family: NextraBold;
          font-size: 15px;
          text-decoration: none;
        }
      }


    }
  }
}

