<!-- <app-product></app-product> -->
<!-- <app-mein-konto></app-mein-konto> -->
<!-- <app-test></app-test> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-img-cropper></app-img-cropper> -->

<div class="box-container">
  <span>400px</span>
  <span>250px</span>
  <app-test [width]="400" [height]="250" [left]="0" [top]="0"></app-test>
</div>
<div class="box-container">
  <span>400px</span>
  <span>250px</span>
  <app-test [width]="400" [height]="250" [left]="0" [top]="0"></app-test>
</div>
<div class="box-container">
  <span>400px</span>
  <span>250px</span>
  <app-test [width]="400" [height]="250" [left]="0" [top]="0"></app-test>
</div>


