@import '../../config-sass/index.scss';

.active{
  background: $myPrimary6;
}

.main-container{
  margin: 0 auto;

  .menu-main-container{
    margin: 0 auto;
    padding-bottom: 1%;
    text-transform: capitalize;
    border-bottom: 2px solid $myPrimary5;
    overflow: auto;

   .main-h1{
      margin: 1%;
      font-family: Nbold;
      font-size: 20px;
    }

    .menu-container{

      .menu-block{
        display: flex;
        float: left;
        height: 70px;
        margin: 0.5% 1%;
        padding: 3px;
        border: 2px solid $myPrimary5;
        border-radius: 8px;
        cursor: pointer;

        &:hover{
          background: $myPrimary5-2;
          border-color: $myPrimary6;
        }

        .img-block{
          display: flex;
          padding: 2%;
          border-radius: 4px;
          background: $myHeroBack;

          img{
            height: 100%;
            width: auto;
            margin: auto;

          }
        }

        .text-block{
          margin-left:  5%;

          p{
            color: $mytext;
            font-family: Nbold;
            font-size: 14px;
            @include md {font-size: 16px;}

            span{
              display: none;
              font-family: Nregular;
              font-size: 12px;
              @include lg {display: block;}
            }
          }
        }
      }
    }
  }

}

