@import '../config-sass/index.scss';

.main-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.06);

  .dialog-block{
    position: relative;
    max-width: 300px;
    width: 90%;
    max-height: 500px;
    height: 90%;
    margin: auto;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);

    button{
      padding: 5%;
      color: $myPrimary4-1;
      font-size: 16px;
      border: none;
      background: none;

      &:hover {
        background: $myPrimary2;
        color: white;
        border-radius: 4px;
      }
    }

    .btn-block1{
      display: flex;

      .btn-fit{
        width: 80%;

      }

      .btn-x{
        width: 20%;
        text-align: right;

        button{
          height: 100%;
          padding:0 30%;
          font-size: 20px;
        }

      }
    }

    .btn-block2{
      display: flex;

      button{
        margin-left: 2%;
      }
    }


    .cropper-block{
      display: flex;
      width: 100%;
      height: 330px;
      margin: auto;
      background: gray;


      .resizable-draggable {
        margin: auto;
        overflow: hidden;
        text-align: center;
        background: white;

        &:hover { cursor: all-scroll;}

        .image-div{
          display: flex;
          width: 100%;
          height: auto;
          margin: auto;
          z-index: 2;

          img{margin: auto;}
        }

        button{
          margin:50% auto;
          color: $myImageBack1;
          z-index: 1;
        }
      }

    }

    .btn-block3{
      text-align: right;
      margin-top: 10px;
      margin-right: 5px;

    }
  }
}
