@import '../../config-sass/index.scss';

.main-container{
  margin: auto;


  .header{}

  .pages{
    display: flex;
    height: 540px;
    margin: auto;
    background: #F1E7FF;

    .pages-block{
      display: flex;
      margin: auto;
      padding: 2% 0;
      background: #DBDBDB;

      .page{
        width: max-content;
        height: 428px;
        margin: auto;

        .cropper-img{
          position: relative;
          margin: auto;

          img{
            height: auto;
            max-width: 300px;
          }
        }

        .cropper{

        }
      }
    }
  }

  .n-block{
    display: flex;
    font-family: Nregular;

    .arrow-left{
      margin: auto;
    }

    .number-block{

      .page-number{
        display: inline-block;
        margin: 3px;
        border-bottom: 1px solid $myPrimary1;
        cursor: pointer;

        span{
          padding: 15px ;
          text-align: center;
        }

        &:hover{background: $myPrimary1; color: white; border-radius: 2px;}
      }
    }

    .arrow-right{
      margin: auto;
    }
  }
}

