<!-- <div class="box-container">
  <app-test  [width]="200" [height]="250" [left]="0" [top]="0" [right]="0"></app-test>
</div> -->

<div class="col-11-xs main-container">
  <div class="header">
    <p>Personalisieren <span>Sie das Magazin</span></p>
  </div>
  <div class="col-12-xs pages">
    <div class="col-10-xs pages-block">
      <div class="page">
        <div class="cropper-img">
          <img src="../../assets/editor-image/journal-page-image/page-.png" alt="">
        </div>
        <div class="cropper">
          <app-cropper
          [width]="200"
          [height]="200"
          [left]="0"
          [top]="0"
          [posTop]="0"
          [posLeft]="0"
          ></app-cropper>
        </div>
      </div>
    </div>
    <div class="n-block"></div>
  </div>
</div>
