<div class="col-11-xs main-container">
  <div class="col-10-xs header">
    <h4>Personalisieren <span>Sie das Magazin</span></h4>
    <div><button>speichen</button></div>
  </div>
  <div class="col-12-xs pages">
    <div class="col-10-xs pages-block">
      <div class="page">
        <div class="img-cropper">
          <div class="page-left">
            <div class="cropper-img">
              <img [src]="pagesBlock[0].imgUrl" alt="">
            </div>
            <div class="cropper">
              <app-cropper
              [width]="pagesBlock[0].cropper[0].width"
              [height]="pagesBlock[0].cropper[0].height"
              [left]="pagesBlock[0].cropper[0].left"
              [top]="pagesBlock[0].cropper[0].top"
              [posTop]="pagesBlock[0].cropper[0].posTop"
              [posLeft]="pagesBlock[0].cropper[0].posLeft"
              ></app-cropper>
            </div>
          </div>
          <div class="page-right">
            <div class="cropperi-img">
              <img [src]="pagesBlock[0].imgUrl2" alt="">
            </div>
            <div class="cropper2">
              <app-cropper
              [width]="pagesBlock[0].cropper2[0].width"
              [height]="pagesBlock[0].cropper2[0].height"
              [left]="pagesBlock[0].cropper2[0].left"
              [top]="pagesBlock[0].cropper2[0].top"
              [posTop]="pagesBlock[0].cropper2[0].posTop"
              [posLeft]="pagesBlock[0].cropper2[0].posLeft"
              ></app-cropper>
            </div>
          </div>
        </div>
      </div>

      <div class="page">
        <div class="img-cropper">
          <div class="page-left">
            <div class="cropper-img">
              <img [src]="pagesBlock[1].imgUrl" alt="">
            </div>
            <div class="cropper">
              <app-cropper
              [width]="pagesBlock[1].cropper[0].width"
              [height]="pagesBlock[1].cropper[0].height"
              [left]="pagesBlock[1].cropper[0].left"
              [top]="pagesBlock[0].cropper[0].top"
              [posTop]="pagesBlock[0].cropper[0].posTop"
              [posLeft]="pagesBlock[0].cropper[0].posLeft"
              ></app-cropper>
            </div>
          </div>
          <div class="page-right">
            <div class="cropperi-img">
              <img [src]="pagesBlock[1].imgUrl2" alt="">
            </div>
            <div class="cropper2">
              <app-cropper
              [width]="pagesBlock[1].cropper2[0].width"
              [height]="pagesBlock[1].cropper2[0].height"
              [left]="pagesBlock[0].cropper2[0].left"
              [top]="pagesBlock[0].cropper2[0].top"
              [posTop]="pagesBlock[0].cropper2[0].posTop"
              [posLeft]="pagesBlock[0].cropper2[0].posLeft"
              ></app-cropper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10-xs n-block">
    <div class="arrow-left" (click)="btnEventArrow(pageHidden - 1)">
      <fa-icon [icon]="btnLeft"></fa-icon>
    </div>

    <div class="col-10-xs number-block">
      <div class="page-number"
      *ngFor="let pageNumber of pageNumber; let i = index"
      (click)="setActiveButton(i)" >
        <span
        [ngClass]="{'active': pageHidden === i}"
        >{{ pageNumber }}</span>
      </div>
    </div>

    <div class="arrow-right" (click)="btnEventArrow(pageHidden + 1)">
      <fa-icon [icon]="btnRight"></fa-icon>
    </div>
</div>
