@import '../../../../config-sass/index.scss';

.main-container{

  .container-header{
    margin-top: 2%;

    h1{
      margin-left: 5%;
      color: $mytext;
      font-size: 18px;
      font-family: Nregular;
      text-transform: capitalize;
      text-decoration: underline;
    }
 }
}
